<div class = "card">
    <img src="./images/usericons/{{buyerUN}}.jpg" id="reviewPic">
    
        <a href="/User/{{_id}}"> <!--ganito ba--> 
            <p id="reviewName">{{buyerUN}}</p>
        </a>
        <div id="reviewStars"> <!--REVIEW STARS RATING--> 
            {{rate}} 
        </div>
        <a href=".html" style="text-decoration: underline;"> <!--UNDERLINE UNDER PRODUCT NAME--> 
            <p id="reviewText">{{productName}}</p>
        </a>

        <p id="reviewdesc"> {{reviewdesc}} </p>  
        
    </div>
                      

</div>